<% layout('boilerplate') %>

    <div class="jumbotron">
        <div class="container">

            <div class="row">
                <div class="col-lg-3">
                    <form action="/payment" method="POST">
                        <input type="hidden" name="courseId" value="<%= course._id %>" />
                        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_Xzdckhj8eYu5WZM27vedLRwa" data-amount="<%= course.price  %>"
                            data-name="Stripe.com" data-description="Widget" data-image="" , data-locale="auto">

                            </script>

                    </form>
                </div>
                <div class="col-lg-5 col-lg-offset-4">

                    <h5>
                        <b>Course Instructor:</b> &nbsp;&nbsp;
                        <span style="font-family:cursive;">
                            <%= foundUser.profile.name %>
                        </span>
                        <img src="<%= foundUser.profile.picture %>" alt="" style="border-radius:50%; float:right;" height="80px" width="80px">
                    </h5>
                    <%  if(course.createdAt)  { %>
                        <div style="font-size:1.2em; ">
                            Course created on
                            <b>
                                <%= moment(course.createdAt).format("MMM Do YY") %>
                            </b>
                        </div>
                        <% } %>
                </div>
            </div>

        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-lg-9">

                <br/>
                <h4>Description</h4>
                <b style="font-weight:bold; font-family:cursive; font-size: 1.2em;">
                    <%=  course.desc %>
                </b>
            </div>

            <div class="col-lg-3">

                <h5 style="color:grey;" class="text-center">
                    <i>
                        Students Enrolled
                        <%= course.totalStudents %>
                    </i>
                </h5>

            </div>

        </div>
    </div>

    <style>
        #footer {
            position: fixed;
        }
    </style>