<% layout('boilerplate') %>

    <div class="jumbotron">
        <div class="container">
            <a href="/create-course" class="btn btn-primary btn-lg"> Create a new Course</a>
        </div>
    </div>

    <div class="container">
        <h2 class="text-center">Courses that you teach</h2>
        <hr>
        <div class="row">

            <div id="courses">

                <% for(var i = 0; i < foundUser.coursesTeach.length ; i++){ %>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="text-center">
                                <a href="/courses/<%= foundUser.coursesTeach[i].course._id %>" style="text-decoration: none; color: #34495e">

                                    <b style="color:gray;">
                                        <%= foundUser.coursesTeach[i].course.title %>
                                    </b>
                                </a>

                                <a href="/edit-course/<%= foundUser.coursesTeach[i].course._id %>" class="pull-right clearfix">
                                    <i class="fa fa-edit" style="font-size:24px; color: green;"></i>
                                </a>
                            </h4>

                        </div>



                        <div class="panel-body" style="background-color: #f4f4f4; border: 0px; height: 150px; overflow-y:auto; ">



                            <p style="font-size: 15px; font-family:cursive;">
                                <%= foundUser.coursesTeach[i].course.desc %>
                            </p>


                        </div>
                        <p>
                            <img src="<%= foundUser.coursesTeach[i].course.thumbnail %>" alt="" style="height:250px; width:250px;  width:100%;">
                        </p>

                    </div>
                    <% } %>
            </div>
        </div>
    </div>


    <style>
        #courses {
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(3, 3fr);
            grid-auto-rows: minmax(110px, auto);
            grid-column-gap: 30px;
            grid-row-gap: 25px;
            /* max-width: 20px; */
        }
    </style>